<div>
	<article class="aboutUs">
		<div class="container">
			<div class="col-sm-6">
				<h1><em>μCtrl</em> {{'aboutUsTitle1' | translate}}<em>Université de Sherbrooke</em> {{'aboutUsTitle2' | translate}}.</h1>
				<p><em>μCtrl</em> {{'aboutUsP1T1' | translate}} <b>{{'aboutUsP1T2' | translate}}</b> {{'aboutUsP1T3' | translate}}.</p>
				<p>{{'aboutUsP2T1' | translate}} <b>{{'aboutUsP2T2' | translate}}</b>, {{'aboutUsP2T3' | translate}} <b>{{'aboutUsP2T4' | translate}}</b> {{'aboutUsP2T5' | translate}}.</p>
			</div>
			<div class="col-sm-6">
				<img src="img/uds_genie.png" alt="University of Sherbrooke"/>
			</div>
		</div>
	</article>

	<article class="meetTeam">
		<h1>{{'meetTeamTitle' | translate}}</h1>
		<p>{{'meetTeamText1' | translate}} <em>μCtrl</em> {{'meetTeamText2' | translate}} <b>{{'meetTeamText3' | translate}}</b> {{'meetTeamText4' | translate}} <b>{{'meetTeamText5' | translate}}</b> {{'meetTeamText6' | translate}}.</p>

		<div class="container">
			<div class="col-lg-12 align-left">
				<div class="btn active">{{'meetTeamText3' | translate}}</div>
				<div class="btn">{{'meetTeamText5' | translate}}</div>
			</div>
			<div class="col-lg-12">
				<div class="presenter">
					<img src="img/teamPictures/team-beauchemin.png" alt="Francis Beauchemin"/>
					<b>Francis Beauchemin</b>
					<p>Voice Specialist</p>
					<p>
						<i class="fa fa-facebook fa-fw"></i>
						<i class="fa fa-linkedin fa-fw"></i>
						<i class="fa fa-envelope  fa-fw"></i>
					</p>
				</div>
				<div class="presenter">
					<img src="img/teamPictures/team-beauchemin.png" alt="Francis Beauchemin"/>
					<b>Francis Beauchemin</b>
					<p>Voice Specialist</p>
					<p>
						<i class="fa fa-facebook fa-fw"></i>
						<i class="fa fa-linkedin fa-fw"></i>
						<i class="fa fa-envelope  fa-fw"></i>
					</p>
				</div>
				<div class="presenter">
					<img src="img/teamPictures/team-beauchemin.png" alt="Francis Beauchemin"/>
					<b>Francis Beauchemin</b>
					<p>Voice Specialist</p>
					<p>
						<i class="fa fa-facebook fa-fw"></i>
						<i class="fa fa-linkedin fa-fw"></i>
						<i class="fa fa-envelope  fa-fw"></i>
					</p>
				</div>
				<div class="presenter">
					<img src="img/teamPictures/team-beauchemin.png" alt="Francis Beauchemin"/>
					<b>Francis Beauchemin</b>
					<p>Voice Specialist</p>
					<p>
						<i class="fa fa-facebook fa-fw"></i>
						<i class="fa fa-linkedin fa-fw"></i>
						<i class="fa fa-envelope  fa-fw"></i>
					</p>
				</div>
				<div class="presenter">
					<img src="img/teamPictures/team-beauchemin.png" alt="Francis Beauchemin"/>
					<b>Francis Beauchemin</b>
					<p>Voice Specialist</p>
					<p>
						<i class="fa fa-facebook fa-fw"></i>
						<i class="fa fa-linkedin fa-fw"></i>
						<i class="fa fa-envelope  fa-fw"></i>
					</p>
				</div>
				<div class="presenter">
					<img src="img/teamPictures/team-beauchemin.png" alt="Francis Beauchemin"/>
					<b>Francis Beauchemin</b>
					<p>Voice Specialist</p>
					<p>
						<i class="fa fa-facebook fa-fw"></i>
						<i class="fa fa-linkedin fa-fw"></i>
						<i class="fa fa-envelope  fa-fw"></i>
					</p>
				</div>
				<div class="presenter">
					<img src="img/teamPictures/team-beauchemin.png" alt="Francis Beauchemin"/>
					<b>Francis Beauchemin</b>
					<p>Voice Specialist</p>
					<p>
						<i class="fa fa-facebook fa-fw"></i>
						<i class="fa fa-linkedin fa-fw"></i>
						<i class="fa fa-envelope  fa-fw"></i>
					</p>
				</div>
				<div class="presenter">
					<img src="img/teamPictures/team-beauchemin.png" alt="Francis Beauchemin"/>
					<b>Francis Beauchemin</b>
					<p>Voice Specialist</p>
					<p>
						<i class="fa fa-facebook fa-fw"></i>
						<i class="fa fa-linkedin fa-fw"></i>
						<i class="fa fa-envelope  fa-fw"></i>
					</p>
				</div>
				<div class="presenter">
					<img src="img/teamPictures/team-beauchemin.png" alt="Francis Beauchemin"/>
					<b>Francis Beauchemin</b>
					<p>Voice Specialist</p>
					<p>
						<i class="fa fa-facebook fa-fw"></i>
						<i class="fa fa-linkedin fa-fw"></i>
						<i class="fa fa-envelope  fa-fw"></i>
					</p>
				</div>
				<div class="presenter">
					<img src="img/teamPictures/team-beauchemin.png" alt="Francis Beauchemin"/>
					<b>Francis Beauchemin</b>
					<p>Voice Specialist</p>
					<p>
						<i class="fa fa-facebook fa-fw"></i>
						<i class="fa fa-linkedin fa-fw"></i>
						<i class="fa fa-envelope  fa-fw"></i>
					</p>
				</div>
			</div>
		</div>
	</article>

	<article class="followUs">
		<div class="container">
			<h1>{{'followUs' | translate}}</h1>

			<div class="element">
				<a href="https://facebook.com/uctrl.io" target="_blank" class="facebook logo"></a>
			</div>

			<div class="element">
				<a href="https://twitter.com/uctrl_io" target="_blank" class="twitter logo"></a>
			</div>

			<div class="element">
				<a href="https://github.com/uCtrl" target="_blank" class="github logo"></a>
			</div>

		</div>
	</article>
</div>