<article class="line">
	<h1 id="Download">Download</h1>

	<div class="content">
		<div class="displace-zone">
			<div class="displace-case-3">
				<div class="displace-content">
					<h2><i class="fa fa-windows fa-fw"></i> Windows</h2>
					<ul>
						<li><a href="#">x86 - Desktop Application V. 0.0.0</a></li>
						<li><a href="#">x64 - Desktop Application V. 0.0.0</a></li>
					</ul>
				</div>
			</div>
			<div class="displace-case-3">
				<div class="displace-content">
					<h2><i class="fa fa-apple fa-fw"></i> MAC</h2>
					<ul>
						<li><a href="#">x86 - Desktop Application V. 0.0.0</a></li>
						<li><a href="#">x64 - Desktop Application V. 0.0.0</a></li>
					</ul>
				</div>
			</div>
			<div class="displace-case-3">
				<div class="displace-content">
					<h2><i class="fa fa-linux fa-fw"></i> Linux</h2>
					<ul>
						<li><a href="#">x86 - Desktop Application V. 0.0.0</a></li>
						<li><a href="#">x64 - Desktop Application V. 0.0.0</a></li>
					</ul>
				</div>
			</div>
			<div class="displace-case-2">
				<div class="displace-content">
					<h2><i class="fa fa-android fa-fw"></i> Android</h2>
					<p>Available directly on the <a href="#">Play Store</a>.</p>
				</div>
			</div>
			<div class="displace-case-2">
				<div class="displace-content">
					<h2><i class="fa fa-apple fa-fw"></i> IOS</h2>
					<p>Available directly on the <a href="#">App Store</a>.</p>
				</div>
			</div>
		</div>
	</div>
</article>