<div class="modal-content">
	<div class="modal-header">
		<div class="pull-right" style="width: 131px;">
			<button type="button" class="btn btn-primary">Register</button>
			<button type="button" class="close" ng-click="$parent.$close()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		</div>

		<h4 class="modal-title">Login to your portal</h4>
	</div>
	<div class="modal-body">
		<input type="text" name="userNameUCtrl" id="userNameUCtrl" class="form-control" placeholder="Username">

		<br/>

		<input type="password" name="passwordUCtrl" id="passwordUCtrl" class="form-control" placeholder="Password">
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" ng-click="$parent.$close()">Close</button>

		<button type="button" class="btn btn-success">Login</button>
	</div>
</div>
