<article class="line">
	<h1 id="Contact">Contact</h1>

	<div class="content">
		<div class="displace-zone">
			<div class="displace-case-2">
				<div class="displace-content">
					<h2>Software</h2>
					<ul>
						<li>Dude 1</li>
						<li>Dude 2</li>
						<li>Dude 3</li>
						<li>Dude 4</li>
						<li>Dude 5</li>
						<li>Dude 6</li>
						<li>Dude 7</li>
						<li>Dude 8</li>
						<li>Dude 9</li>
					</ul>
				</div>
			</div>
			<div class="displace-case-2">
				<div class="displace-content">
					<h2>Hardware</h2>
					<ul>
						<li>Dude 1</li>
						<li>Dude 2</li>
						<li>Dude 3</li>
						<li>Dude 4</li>
						<li>Dude 5</li>
						<li>Dude 6</li>
						<li>Dude 7</li>
						<li>Dude 8</li>
						<li>Dude 9</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</article>