<article class="container">
	<div class="row col-lg-12">
		<h1 id="Contact">Team</h1>

		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title">Software</h2>
				</div>
				<div class="panel-body">
					This is the list of the project software team.
				</div>
				<ul class="list-group">
					<li class="list-group-item">Dude 1</li>
					<li class="list-group-item">Dude 2</li>
					<li class="list-group-item">Dude 3</li>
					<li class="list-group-item">Dude 4</li>
					<li class="list-group-item">Dude 5</li>
					<li class="list-group-item">Dude 6</li>
					<li class="list-group-item">Dude 7</li>
					<li class="list-group-item">Dude 8</li>
					<li class="list-group-item">Dude 9</li>
				</ul>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title">Hardware</h2>
				</div>
				<div class="panel-body">
					This is the list of the project hardware team.
				</div>
				<ul class="list-group">
					<li class="list-group-item">Dude 1</li>
					<li class="list-group-item">Dude 2</li>
					<li class="list-group-item">Dude 3</li>
					<li class="list-group-item">Dude 4</li>
					<li class="list-group-item">Dude 5</li>
					<li class="list-group-item">Dude 6</li>
					<li class="list-group-item">Dude 7</li>
					<li class="list-group-item">Dude 8</li>
					<li class="list-group-item">Dude 9</li>
				</ul>
			</div>
		</div>
	</div>
</article>