@import "nav-bar";
@import "footer";

@import "landingPage/index";
@import "developers/index";
@import "about/index";

*, *:focus {
	box-sizing: border-box;
	outline: none;

	// Firefox dotted line selection remove
	&::-moz-focus-inner {
		border: 0;
	}
}

body, html {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

html {
	background-color: @color_white;
}

body {
	font-weight: 300;
	
	@media (max-width: @screen-sm-max) {
		font-size: 16px;
	}
	
	@media (min-width: @screen-md-min) {
		font-size: 18px;
	}
	
	@media (min-width: @screen-lg-min) {
		font-size: 20px;
	}
}

a {
	color: @color_white;
}

header {
	padding-top: @navbar-height;
}

.img-sub-team {
	display: block;
	width: 30%;
	margin: 0 auto;
}

em {
	font-style: normal;
	text-decoration: none;
}

.green {
	color: @color_green;
}

.tooltip {
	font-size: 12px !important;
	font-weight: 300 !important;
}

.pr {
	position: fixed;
	top: -9999px;
	right: -9999px;
	height: 0;
	width: 0;
}

section.ng-scope {
	min-height: 800px;
}

@media (max-width: @screen-sm-max) {
	h1 {
		font-size: 32px;
	}
}

@media (min-width: @screen-md-min) {
	h1 {
		font-size: 38px;
	}
}

@media (min-width: @screen-lg-min) {
	h1 {
		font-size: 48px;
	}
}