.navbar {
	height: @navbar-height;
	font-size: @navbar-default-font-size;
	font-weight: 400;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.30);

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	-webkit-transition: all 0.25s;
	-moz-transition: all 0.25s;
	-ms-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;

	.navbar-toggle {
		padding: 3px 14px;
	}

	.btn {
		@media (max-width: @screen-sm-max) {
			font-size: 14px;
		}

		@media (min-width: @screen-md-min) {
			font-size: 15px;
		}
		
		@media (min-width: @screen-lg-min) {
			font-size: 15px;
		}
	}

	.logo {
		-webkit-transition: all 0.25s;
		-moz-transition: all 0.25s;
		-ms-transition: all 0.25s;
		-o-transition: all 0.25s;
		transition: all 0.25s;
		
		height: @logo-height;

		&.small {
			height: 30px;
		}
	}

	&-btn {
		margin: 0;
	}

	.navbar-right {
		margin-top: 33px;
	}

	ul {
		margin: 35px 0;
	}

	.btn-default {
		background: none;
		border: none;
	}

	.caret{
		color: transparent;
		&:before {
			color: @navbar-default-color;
			font-family: FontAwesome !important;
			content: "\f078" !important;
			position: relative;
			top: -15px;
			left: -8px;
		}
	}

	@media (max-width: @screen-sm-max) {
		.nav > li > a {
			padding: 0 15px;
			font-size: 14px;
		}

		.logo {
			margin: ((@navbar-height - @logo-height) /2) 20px ((@navbar-height - @logo-height) /2) 0;
		}
	}

	@media (min-width: @screen-md-min) {
		.nav > li > a {
			padding: 0 20px;
			font-size: 15px;
		}

		.logo {
			margin: ((@navbar-height - @logo-height) /2) ((@navbar-height - @logo-height) /2) ((@navbar-height - @logo-height) /2) 0;
		}
	}

	@media (min-width: @screen-lg-min) {
		.nav > li > a {
			padding: 0 25px;
		}

		.logo {
			margin: ((@navbar-height - @logo-height) /2) ((@navbar-height - @logo-height) /2) ((@navbar-height - @logo-height) /2) 0;
		}
	}

	&.small {
		height: 75px;
		min-height: 75px;

		.logo {
			margin: 10px 18px;
			height: 55px;
		}

		.navbar-toggle {
			margin: 23px;
		}

		@media (min-width: @screen-sm-max) {
			#navBar-collapse > ul, #navMenu {
				margin: 23px 0;
			}
		}

		@media (max-width: @screen-sm-max) {
			#navBar-collapse > ul, #navMenu {
				margin: 0;
			}

			#navBar-collapse {
				top: 75px;
				position: fixed;
				width: 100%;
			}
		}
	}
}

#navMenu {
	&.navbar-btn {
		margin-bottom: 0;
	}
}

ul.dropdown-menu > li > a > span {
	font-size: 16px;
}

@media (max-width: @screen-xs-max) {
	#navBar-collapse {
		box-shadow: 0 1px 1px #000;
		z-index: 2000;
		background-color: @navbar-default-bg;
		ul {
			margin: 0;
			padding: 0 0 13px 0;
		}
	}
}

@media screen and (max-width: @screen-sm) {
	#navMenu {
		text-align: center;
		margin: 0 0 5px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	}
}
