<article class="container">
	<div class="row col-lg-12">
		<h1 class="anchor" id="Download">Download</h1>
		<div class="row col-lg-12">
			<p>All theses product were under the LGPL licence. It is important that you are in the know of the requirements of using a product or developing under LGPL. Learn about the <a href="http://www.gnu.org/licenses/old-licenses/lgpl-2.1.html" target="_blank">LGPL requirements here</a>.</p>
			<div class="alert alert-info" role="alert">
				<strong>Why LGPL license?</strong>
				<p>Because we are using the open source version of Qt libraries and tool to create the graphic interface of the application, we have to take the licence that they want users to have. <a href="https://qt-project.org/products/licensing" target="_blank">More information about Qt licensing here.</a></p>
				<p class="text-center"><i class="fa fa-info-circle fa-2x"></i></p>
			</div>
		</div>

		<div class="col-lg-4 col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title"><i class="fa fa-windows fa-fw"></i> Windows</h2>
				</div>
				<div class="panel-body">
					<ul>
						<li><a href="#">x86 - Desktop Application V. 0.0.0</a></li>
						<li><a href="#">x64 - Desktop Application V. 0.0.0</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title"><i class="fa fa-apple fa-fw"></i> MAC</h2>
				</div>
				<div class="panel-body">
					<ul>
						<li><a href="#">x86 - Desktop Application V. 0.0.0</a></li>
						<li><a href="#">x64 - Desktop Application V. 0.0.0</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title"><i class="fa fa-linux fa-fw"></i> Linux</h2>
				</div>
				<div class="panel-body">
					<ul>
						<li><a href="#">x86 - Desktop Application V. 0.0.0</a></li>
						<li><a href="#">x64 - Desktop Application V. 0.0.0</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title"><i class="fa fa-android fa-fw"></i> Android</h2>
				</div>
				<div class="panel-body">
					<p>Available directly on the <a href="#">Play Store</a>.</p>
					<br/>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title"><i class="fa fa-apple fa-fw"></i> IOS</h2>
				</div>
				<div class="panel-body">
					<p>Available directly on the <a href="#">App Store</a>.</p>
					<br/>
				</div>
			</div>
		</div>
	</div>
</article>