<article class="container">
	<div class="row col-lg-12">
		<h1 class="anchor" id="Download">{{'Download' | translate}}</h1>
		<div class="col-lg-12">
			<p>{{'DownloadText1' | translate}}<a href="http://www.gnu.org/licenses/old-licenses/lgpl-2.1.html" target="_blank">{{'DownloadText2' | translate}}</a>.</p>
				<div class="alert alert-info" role="alert">
				<strong>{{'DownloadWhyTitle' | translate}}?</strong>
				<p>{{'DownloadWhyText1' | translate}} <a href="https://qt-project.org/products/licensing" target="_blank">{{'DownloadWhyText2' | translate}}</a></p>
				<p class="text-center"><i class="fa fa-info-circle fa-2x"></i></p>
			</div>
		</div>

		<div class="col-lg-4 col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title"><i class="fa fa-windows fa-fw"></i> Windows</h2>
				</div>
				<div class="panel-body">
					<ul>
						<li><a href="#">x86 - {{'DesktopApp' | translate}} V. 0.0.0</a></li>
						<li><a href="#">x64 - {{'DesktopApp' | translate}} V. 0.0.0</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title"><i class="fa fa-apple fa-fw"></i> MAC</h2>
				</div>
				<div class="panel-body">
					<ul>
						<li><a href="#">x86 - {{'DesktopApp' | translate}} V. 0.0.0</a></li>
						<li><a href="#">x64 - {{'DesktopApp' | translate}} V. 0.0.0</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title"><i class="fa fa-linux fa-fw"></i> Linux</h2>
				</div>
				<div class="panel-body">
					<ul>
						<li><a href="#">x86 - {{'DesktopApp' | translate}} V. 0.0.0</a></li>
						<li><a href="#">x64 - {{'DesktopApp' | translate}} V. 0.0.0</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title"><i class="fa fa-android fa-fw"></i> Android</h2>
				</div>
				<div class="panel-body">
					<p>{{'PlayStoreText' | translate}}<a href="#">Play Store</a>.</p>
					<br/>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title"><i class="fa fa-apple fa-fw"></i> IOS</h2>
				</div>
				<div class="panel-body">
					<p>{{'AppStoreText' | translate}}<a href="#">App Store</a>.</p>
					<br/>
				</div>
			</div>
		</div>
	</div>
</article>