<div class="itWork">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1>{{'itWorkTitle' | translate}}</h1>
				<p>{{'itWorkTxt1' | translate}}.</p>
				<p>{{'itWorkTxt2' | translate}}.</p>
				<p>{{'itWorkTxt3' | translate}}.</p>
				<p>{{'itWorkTxt4' | translate}}.</p>

			</div>
		</div>
		<div class="center-it">
			<div class="btn-slide">
				<div class="btn" title="{{'itWorkBt1' | translate}}"><i class="fa fa-fw fa-magic"></i></div>
				<div class="btn" title="{{'itWorkBt2' | translate}}"><i class="fa fa-fw fa-leaf"></i></div>
				<div class="btn" title="{{'itWorkBt3' | translate}}"><i class="fa fa-fw fa-lock"></i></div>
			</div>
		</div>
	</div>
</div>