<article class="container">
	<div class="row col-lg-12" ng-controller="teamList">
		<h1 class="anchor" id="Team">Team</h1>

		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title">Software</h2>
				</div>
				<div class="panel-body">
					This is the list of the project software team.
					<br/>
					<img ng-src="img/Logo-Software.png" alt="Sub-team logo software" class="img-sub-team"/>
				</div>
				<ul class="list-group">
					<li class="list-group-item" ng-repeat="teammate in team.software | orderBy:'lastName'">
						<div class="row">
							<div class="col-xs-4">
								<img ng-if="teammate.picture != ''" ng-src="{{teammate.picture}}" class="img-thumbnail"/>
								<img ng-if="teammate.picture == ''" ng-src="img/NO-PICTURE.jpg" class="img-thumbnail"/>
							</div>
							<div class="col-xs-8">
								<p ng-if="teammate.email != ''"><strong>Name : </strong><a ng-href="mailto:{{teammate.email}}">{{teammate.firstName + ' ' + teammate.lastName}}</a></p>
								<p ng-if="teammate.email == ''"><strong>Name : </strong>{{teammate.firstName + ' ' + teammate.lastName}}</p>
								<p>
									<strong>Post : </strong>{{position(teammate.post)}}
								</p>
								<p>
									{{teammate.text}}
								</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title">Hardware</h2>
				</div>
				<div class="panel-body">
					This is the list of the project hardware team.
					<br/>
					<img ng-src="img/Logo-Hardware.png" alt="Sub-team logo hardware" class="img-sub-team"/>
				</div>
				<ul class="list-group">
					<li class="list-group-item" ng-repeat="teammate in team.hardware | orderBy:'lastName'">
						<div class="row">
							<div class="col-xs-4">
								<img ng-if="teammate.picture != ''" ng-src="{{teammate.picture}}" class="img-thumbnail"/>
								<img ng-if="teammate.picture == ''" ng-src="img/NO-PICTURE.jpg" class="img-thumbnail"/>
							</div>
							<div class="col-xs-8">
								<p ng-if="teammate.email != ''"><strong>Name : </strong><a ng-href="mailto:{{teammate.email}}">{{teammate.firstName + ' ' + teammate.lastName}}</a></p>
								<p ng-if="teammate.email == ''"><strong>Name : </strong>{{teammate.firstName + ' ' + teammate.lastName}}</p>
								<p>
									<strong>Post : </strong>{{position(teammate.post)}}
								</p>
								<p>
									{{teammate.text}}
								</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</article>