// Desktop application imported colors -------------------------------
// µCtrl's Green variation
@color_uLightGreen: "#DAF2DA";
@color_uMediumLightGreen: "#0DBE0D";
@color_uGreen: "#0D9B0D";
@color_uDarkGreen: "#0D740D";

// µCtrl's Red variation
@color_uLightRed: "#FFBFBF";
@color_uRed: "#D90E0E";
@color_uDarkRed: "#A60E0E";

// White colors
@color_uWhite: "#FFF";

// Black colors
@color_uBlack: "#000";

// Grey colors
@color_uUltraLightGrey: "#F7F6F6";
@color_uLightGrey: "#EDEDED";
@color_uMediumLightGrey: "#D4D4D4";
@color_uGrey: "#AAA";
@color_uMediumDarkGrey: "#737373";
@color_uDarkGrey: "#3C3C3C";

// Transparent color
@color_uTransparent: "transparent";

// Website palette ---------------------------------------------------
@color_wWhite: @color_uWhite;
@color_wGreen: @color_uGreen;
@color_wLightGreen: @color_uLightGreen;


// Website elements --------------------------------------------------
