@pathToFont: '../fonts/';
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans:400,700&subset=latin,latin-ext);

@font-face {
	font-family: 'icomoon';
	src:url('@{pathToFont}icomoon/icomoon.eot?vbququ');
	src:url('@{pathToFont}icomoon/icomoon.eot?#iefixvbququ') format('embedded-opentype'),
	url('@{pathToFont}icomoon/icomoon.woff?vbququ') format('woff'),
	url('@{pathToFont}icomoon/icomoon.ttf?vbququ') format('truetype'),
	url('@{pathToFont}icomoon/icomoon.svg?vbququ#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}