*, *:focus {
	box-sizing: border-box;
	outline: none;
	font-family: open_sans;

	// Firefox dotted line selection remove
	&::-moz-focus-inner {
		border: 0;
	}
}

body, html {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

html {
	background-color: @color_white;
}

body {
	color: @color_white;
}

a {
	color: @color_white;
}

header {
	padding-top: 50px;
}

.logo {
	height: 54px;
	padding: 2px 0;
	margin-bottom: -17px;

	&.small {
		height: 30px;
	}
}

.fork-on-github {
	position: absolute;
	top: 0;
	right: 0;
	border-left: 2px solid @color_green;
	border-bottom: 2px solid @color_green;
	border-bottom-left-radius: 10px;
	font-size: 20px;
	padding: 3px 9px;
	color: @color_green;
	text-decoration: none;

	&:hover {
		color: @color_white;
		background-color: @color_green;
	}
}

.anchor {
	padding-top: 70px;
	margin-top: -50px;
}

body div.ng-scope:nth-child(2n) {
	background-color: @color_ultraLightGrey;

	.panel-heading {
		background-color: @color_mediumLightGrey;
	}
}

footer {
	border-top: 2px solid @color_green;
	padding: 5px;
	text-align: center;
}

@media screen and (max-width: 768px) {
	#singIn {
		position: absolute;
		right: 74px;
	}
}