*, *:focus {
	box-sizing: border-box;
	outline: none;
	font-family: open_sans;

	// Firefox dotted line selection remove
	&::-moz-focus-inner {
		border: 0;
	}
}

body, html {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

html {
	background-color: @color_white;
}

body {
	color: @color_white;
}

a {
	color: @color_white;
}

header {
	padding-top: @navbar-height;
}

.fork-on-github {
	position: absolute;
	top: 0;
	right: 0;
	border-left: 2px solid @color_green;
	border-bottom: 2px solid @color_green;
	border-bottom-left-radius: 10px;
	font-size: 20px;
	padding: 3px 9px;
	color: @color_green;
	text-decoration: none;

	&:hover {
		color: @color_white;
		background-color: @color_green;
	}
}

.anchor {
	padding-top: 70px;
	margin-top: -50px;
}

body div.ng-scope:nth-child(2n) {
	background-color: @color_ultraLightGrey;

	.panel-heading {
		background-color: @color_mediumLightGrey;
	}
}

.img-sub-team {
	display: block;
	width: 30%;
	margin: 0 auto;
}

footer {
	border-top: 2px solid @color_green;
}

@media screen and (max-width: 768px) {
	#navMenu {
		position: absolute;
		right: 74px;
	}
}

.navbar {
	height: @navbar-height;
	font-size: @navbar-default-font-size;

	.logo {
		height: @logo-height;
		margin: ((@navbar-height - @logo-height) /2);

		&.small {
			height: 30px;
		}
	}

	&-btn {
		margin: 0;
	}

	ul {
		margin: ((@navbar-height - @navbar-default-font-size) /2) 0;
	}

	.btn-default {
		background: none;
		border: none;
	}

	.caret{
		color: transparent;
		&:before {
			color: @navbar-default-color;
			font-family: FontAwesome !important;
			content: "\f078" !important;
			position: relative;
			top: -12px;
			left: -8px;
		}
	}
}

#navMenu.navbar-btn {
	margin-bottom: 0;
}