.about {
	h1 {
		font-size: 54px;
		color: @color_mediumDarkGrey;
	}

	em {
		color: @color_green;
	}

	.bck {
		height: 450px;
		background: url("../../img/background/uconnect.png") center center no-repeat;
		background-size: 537px 418px;
	}
}