.compatibility {
	color: @color_mediumDarkGrey;
	text-align: center;

	.image-display {
		text-align: center;
		margin-bottom: 15px;
		
		img {
			display: inline-block;
			margin: 15px;
			
			&:hover {
				opacity: 0.80;
			}
		}
		
		@media (max-width: @screen-sm-max) {
			img {
				height: 65px;
			}
		}
		
		@media (min-width: @screen-md-min) {
			img {
				height: 75px;
			}
		}
		
		@media (min-width: @screen-lg-min) {
			margin-bottom: 20px;
		
			img {
				height: 100px;
			}
		}
	}
}