.followUs {
	h1 {
		font-size: 54px;
	}

	&, a,  a:visited {
		color: rgba(red(@color_mediumDarkGrey), green(@color_mediumDarkGrey), blue(@color_mediumDarkGrey), 0.5);
		text-decoration: none;
	}

	a:hover, a:active {
		color: rgba(red(@color_mediumDarkGrey), green(@color_mediumDarkGrey), blue(@color_mediumDarkGrey), 0.85);
		text-decoration: none;
	}

	text-align: center;

	background: url("../../img/background/bg-follow-us-large.jpg") center bottom no-repeat;
	background-size: 100% auto;

	.element {
		font-size: 70px;
		position: relative;
		display: inline-block;
		margin: 30px;

		i {
			font-size: 1.2em;
		}
	}
}