.itWork {
	position: relative;
	color: #FFF;
	font-weight: 500;
	text-shadow: 0 2px 4px rgba(0,0,0,0.50);

	&.itWork {
		height: 100%;
	}

	.bg1 {
		background: url("../img/background/bg-feature-1.jpg") no-repeat top center / cover;
	}

	.bg2 {
		background: url("../img/background/bg-feature-2.jpg") no-repeat top center / cover;
	}

	.bg3 {
		background: url("../img/background/bg-feature-3.jpg") no-repeat top center / cover;
	}

	.slideHidden {
		position: absolute;
		width: 100%;
	}

	.slideShowed {
		width: 100%;
		position: absolute;
		transition: transform 1s;
		z-index: 1000;
	}

	.slideHide {
		-webkit-animation: hideSlide 1s; /* Chrome, Safari, Opera */
		animation: hideSlide 1s;
	}

	.slideShow {
		-webkit-animation: showSlide 1s; /* Chrome, Safari, Opera */
		animation: showSlide 1s;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes showSlide {
		from {right: 2000px;}
		to {right: 0;}
	}

	/* Standard syntax */
	@keyframes showSlide {
		from {right: 2000px;}
		to {right: 0;}
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes hideSlide {
		from {right: 0;}
		to {left: 9999px;}
	}

	/* Standard syntax */
	@keyframes hideSlide {
		from {right: 0;height: 100%;}
		to {left: 9999px;height: 100%;}
	}

	.bg1, .bg2, .bg3 {
		padding: 10px 10px 120px 10px;
		top: 0;
	}

	.btnZone {
		position: absolute;
		width: 100%;
		bottom: 0;
		z-index: 1001;
	}

	.btn-slide {
		margin: 10px auto 20px auto;
		display: table;
		font-size: 0.8em;

		.btn {

			&.active, &:hover, .active:hover {
				color: #fff;
				background: @color_green;
			}

			height: 58px;
			width: 58px;
			font-size: 28px;
			line-height: 58px;
			padding: 0;
			margin-bottom: 5px;
			border-radius: 34px;
			background: @color_grey;
			
			text-shadow: none;
			box-shadow: 0 2px 4px rgba(0,0,0,0.50);
		}

		.cell {
			display: table-cell;
			font-weight: normal;
			text-align: center;
			padding: 0 20px;
		}
	}
}