.jumpIn {
	color: @color_mediumDarkGrey;
	text-align: center;

	background: url("../img/background/bg-get-started.jpg") no-repeat center bottom / cover;

	p {
		margin: 36px auto;
		max-width: 67%;
	}

	.btn {
		color: #FFF;
		background-color: @color_green;
		border-radius: 5px;
		box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
		position: relative;
		font-size: 1em;
		font-weight: 700;

		&:hover {
			color: #FFF;
			background: darken(@color_green, 10%);
		}
		
		i {
			vertical-align: bottom;
		}

		margin-bottom: 60px;
	}

	@media (max-width: @screen-sm-max) {
		font-size: 22px;
		.btn {
			padding: 12px 17px;
			min-height: 45px;
			i {
				font-size: 32px;
				padding-right: 4px;
				margin-left: -4px;
			}
		}
	}

	@media (min-width: @screen-md-min) {
		font-size: 28px;
		
		.btn {
			min-height: 60px;
			padding: 15px 25px;

			i {
				font-size: 42px;
				vertical-align: bottom;
				padding-right: 5px;
				margin-left: -6px;
			}
		}
	}

	@media (min-width: @screen-lg-min) {
		font-size: 34px;
		
		.btn {
			min-height: 60px;
			padding: 15px 25px;

			i {
				font-size: 48px;
				padding-right: 5px;
				margin-left: -6px;
			}
		}
	}
}